<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CA.Immigration.Properties.Settings.CommonConnectionString"
            connectionString="Data Source=JackyPc\SQLExpress;Initial Catalog=Common;Persist Security Info=True;User ID=sa;Password=Zxy690211"
            providerName="System.Data.SqlClient" />
        <add name="CA.Immigration.Properties.Settings.LMIAConnectionString"
            connectionString="Data Source=JackyPC\SQLExpress;Initial Catalog=LMIA;Persist Security Info=True;User ID=sa;Password=Zxy690211"
            providerName="System.Data.SqlClient" />
        <add name="CA.Immigration.Properties.Settings.SPConnectionString"
            connectionString="Data Source=jackypc\sqlexpress;Initial Catalog=SP;User ID=sa;Password=Zxy690211"
            providerName="System.Data.SqlClient" />
        <add name="CA.Immigration.Properties.Settings.CommonConnectionString1"
            connectionString="Data Source=GS-W020\sqlexpress;Initial Catalog=Common;User ID=sa;Password=Zxy690211"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>